<div class="inicio">
    <!-- Start your project here-->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="text-reset me-3" href="https://web.facebook.com/terrazai662" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
                </a>
                <a class="text-reset me-3" href="https://www.instagram.com/terrazai662/?igshid=YmMyMTA2M2Y="
                    target="_blank">
                    <i class="fa-brands fa-instagram" style="color: #F56040;"></i>
                </a>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="inicioDivT">

    </div>

    <div id="nosotros" class="nosotrosT">
        <div class="fixed-action-btn">
            <button type="button" class="btn btn-floating btn-lg" style="background-color: #25D366;">
                <a href="https://api.whatsapp.com/send?phone=525537270929&text=Hola, Me gustaría recibir información" target="_blank">
                <i class="fa-brands fa-whatsapp fa-2xl" style="color: white;"></i></a>
            </button>
        </div>


    </div> <br>
    <div class="noticiasDiv">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <hr>
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/auto.jpg" class="img-fluid" />
                            <a
                                href="https://www.eleconomista.com.mx/empresas/Volvo-se-electrifica-en-2022-20220314-0072.html">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Volvo apuesta a la electrificación en México</h5>
                            <p class="card-text text-secondary">Vehículos elétricos</p>
                            <a href="https://www.eleconomista.com.mx/empresas/Volvo-se-electrifica-en-2022-20220314-0072.html"
                                class="btn btn-dark" target="_blank">Leer Más</a>
                        </div>
                    </div>
                    <hr>
                    <div class="divCatchUp">
                        Conócenos:
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 pointer" onclick="location.href='#servicios';">
                                    <img src="/assets/images/ban1.jpg" class="img-thumbnail"
                                        alt="Hollywood Sign on The Hill" />
                                </div>
                                <div class="col-md-3 pointer" onclick="location.href='#servicios';">
                                    <img src="/assets/images/ban2.jpg" class="img-thumbnail"
                                        alt="Hollywood Sign on The Hill" />
                                </div>
                                <div class="col-md-3 pointer" onclick="location.href='#servicios';">
                                    <img src="/assets/images/ban3.jpg" class="img-thumbnail"
                                        alt="Hollywood Sign on The Hill" />
                                </div>
                                <div class="col-md-3 pointer" onclick="location.href='#servicios';">
                                    <img src="/assets/images/ban4.jpg" class="img-thumbnail"
                                        alt="Hollywood Sign on The Hill" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4"> <br>
                    <div class="list-group responsiveMarginCard">
                        <a class="list-group-item  active bg-dark text-white" aria-current="true">
                            <h3>Industrias en las que nos desenvolvemos:</h3>
                        </a>
                        <a class="list-group-item ">
                            <div>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed  " type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                <h5>Telecomunicaciones y tecnología</h5>

                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingOne" data-mdb-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Ofrecemos servicios de tecnología de información y telecomunicaciones
                                                para la
                                                transformación de las empresas, creando nuevas estrategias de
                                                crecimiento en la
                                                industria.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item ">
                            <div>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed  " type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                                <h5>Automotriz</h5>

                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingTwo" data-mdb-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                El sector automotriz es uno de los sectores más importantes de México,
                                                ya que es el octavo país con mayor producción de unidades. Nuestro
                                                equipo de profesionales tiene un amplio conocimiento de la industria
                                                para atender las necesidades del negocio.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item ">
                            <div>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed " type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#flush-collapseThree"
                                                aria-expanded="false" aria-controls="flush-collapseThree">
                                                <h5>Sector Público</h5>


                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingThree"
                                            data-mdb-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                El sector público y gobierno presenta retos importantes para enfrentar
                                                los
                                                cambios y
                                                crisis financieras. Nosotros contamos con la experiencia y los asesores
                                                especializados
                                                que te apoyaran a cumplir con las metas del negocio. Tenemos una
                                                metodología
                                                para
                                                brindarle a nuestros clientes las soluciones estratégicas.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item ">
                            <div>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingFour">
                                            <button class="accordion-button collapsed " type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#flush-collapseFour"
                                                aria-expanded="false" aria-controls="flush-collapseFour">
                                                <h5>Salud</h5>


                                            </button>
                                        </h2>
                                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingFour"
                                            data-mdb-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Apoyamos a las organizaciones de salud y vida a crear nuevas
                                                experiencias y
                                                agilizar sus
                                                procesos de negocio para generar respuestas de salud oportunas a la
                                                comunidad.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingFive">
                                            <button class="accordion-button collapsed " type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#flush-collapseFive"
                                                aria-expanded="false" aria-controls="flush-collapseFive">
                                                <h5>Construcción</h5>


                                            </button>
                                        </h2>
                                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingFive"
                                            data-mdb-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Contamos con un equipo especializado en el sector inmobiliario cuenta
                                                con amplia
                                                experiencia en las operaciones de esta industria, con el objetivo de
                                                ofrecer a
                                                nuestros
                                                clientes propuestas a la medida e innovadoras.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item ">
                            <div>
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingSix">
                                            <button class="accordion-button collapsed " type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#flush-collapseSix"
                                                aria-expanded="false" aria-controls="flush-collapseSix">
                                                <h5>Consumo</h5>


                                            </button>
                                        </h2>
                                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingSix" data-mdb-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Brindamos servicios a negocios que con distintos productos de consumo
                                                tanto en
                                                la
                                                alimentación, vestido y productos para el hogar. Apoyamos a las empresas
                                                a
                                                resolver sus
                                                problemas y mejorar sus procesos y servicios.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div> <br>
                    <p class="note note-info">
                        <strong>Nuestro propósito es servir, cumpliendo los propósitos del negocio y generando nuevas
                            oportunidades. <br>
                            <a href="#servicios">Conocer servicios...</a>

                    </p>
                </div>
            </div>
        </div>
    </div> <br> <br>
    <div class="bannerSpace">

    </div>
    <div id="servicios">
        <div class="container responsiveMarginCard">
            <h2>Nuestros servicios:</h2> <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/legalc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Asesoría Legal</h5>
                            <hr>
                            <p class="card-text">Ofrecemos a nuestros clientes una gran variedad de servicios legales a
                                fin de que las empresas cumplan con las obligaciones fiscales y federales del gobierno.
                            </p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/riskc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Consultoria de riesgos</h5>
                            <hr>
                            <p class="card-text">Nuestros profesionales en el área de riesgos apoyan a los negocios a
                                administrar sus riesgos en las distintas áreas y niveles de la empresa para que se
                                logren de la mejor manera los objetivos.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/financialc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Asesoría Financiera</h5>
                            <hr>
                            <p class="card-text">Contamos con un equipo de profesionales capacitados para dar solución a
                                los requerimientos y obligaciones fiscales a través de estrategias.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/techc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Servicios de Tecnología</h5>
                            <hr>
                            <p class="card-text">Auditoria de los procesos del negocio: <br>
                                Brindamos servicios de auditoría para mejorar los procesos del negocio y cumplir con las
                                regulaciones. Realizamos auditorías de alta calidad en las distintas áreas del negocio,
                                para aportar valor y transparencia.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/marketc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Estrategias de mercado</h5>
                            <hr>
                            <p class="card-text">Es importante que las compañías cuenten con estrategias empresariales
                                para los nuevos esquemas de trabajo, es prioritario que las empresas sean adaptables y
                                agiles respecto a la fuerza laboral. El uso de la tecnología y las nuevas regulaciones
                                deben ser el punto de apoyo.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/adminc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Servicios administrativos</h5>
                            <hr>
                            <p class="card-text">Ofrecemos servicios administrados en materia legal, impuestos y
                                finanzas, otorgando soluciones fáciles de integrar en el negocio con nuestro equipo de
                                trabajo que combina conocimiento, experiencia, tecnología e innovación.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br> <br>
    <div id="contacto">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                <section class="mb-10 position-relative text-center text-lg-start">
                    <!-- SVG Background --> <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1440 320" preserveAspectRatio="none"
                        class="svg position-absolute d-none d-lg-block"
                        style="height: 560px; width: 100%; z-index: 0; overflow: hidden">
                        <defs>
                            <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                                <stop stop-color="hsl(217, 102%, 99%)" offset="0%"></stop>
                                <stop stop-color="hsl(217,88%, 93%)" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <path fill="url(#sw-gradient-0)"
                            d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z">
                        </path>
                    </svg> <!-- Content -->
                    <div class="px-4 py-5 px-md-5">
                        <div class="container">
                            <div class="row gx-lg-5 align-items-center">
                                <div class="col-lg-6 mb-5 mb-lg-0 py-5" style="z-index: 1">
                                    <h1 class="my-5 display-4 fw-bold ls-tight"> <span>Haz crecer tu negocio.</span>
                                        <br> <span class="text-primary">Cotiza con nosotros</span>
                                    </h1>
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <div class="d-md-flex flex-row">
                                            <div class="form-outline flex-fill me-1 mb-4 mb-md-0"> <input type="email"
                                                    id="formControlEmail0"
                                                    class="form-control form-control-lg formInput" name="email"
                                                    required> <label class="form-label" for="formControlEmail0"
                                                    style="margin-left: 0px;">Escribe tu correo electrónico</label>
                                                <div class="form-notch">
                                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                                    <div class="form-notch-middle" style="width: 100px;"></div>
                                                    <div class="form-notch-trailing"></div>
                                                </div>

                                            </div>


                                        </div> <br>
                                        <p><i class="fa-solid fa-envelope"></i> informacion@consultingjofer.com</p> <i
                                            class="fa-solid fa-square-phone"></i> 5525897590 <br> <br>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto política de privacidad
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  btn-primary btn-lg ms-md-2"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>

                                </div>
                                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 1">
                                    <div class="ratio ratio-16x9"> <iframe width="560" height="315"
                                            src="https://www.youtube.com/embed/4GzJFw54AxY" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>