<div class="inicio">
    <!-- Start your project here-->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="text-reset me-3" href="https://web.facebook.com/terrazai662" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
                </a>
                <a class="text-reset me-3" href="https://www.instagram.com/terrazai662/?igshid=YmMyMTA2M2Y="
                    target="_blank">
                    <i class="fa-brands fa-instagram" style="color: #F56040;"></i>
                </a>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="inicioDivT">

    </div>
    <div id="nosotros" class="nosotrosT container">
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525534194625&text=Hola, Me gustaría recibir información"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>

            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10">
                    <h2 class="fw-bold mb-5 text-center">La mejor vista de la ciudad de México</h2>
                    <br>
                    <div class="row gx-lg-5 mb-5 align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/wtcVista.jpg"
                                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">Un espacio único e irrepetible</h3>
                            <div class="mb-2 text-danger small"> <i class="fas fa-users me-2"
                                    aria-controls="#picker-editor"></i><span>Haz tu evento</span> </div>
                            <p class="text-muted">El espacio social en el sur de la ciudad de México, que te dará una de
                                las experiencias más únicas.</p>
                            <p class="text-muted">Nuestro lugar se compone por dos terrazas y un salón techado. Tendrás
                                una vista amplia al World Trade Center por un lado y a la famosa colonia Del Valle
                                por el otro. </p> <a class="btn  btn-dark" href="#contacto" role="button"
                                aria-controls="#picker-editor">Contactar</a>
                        </div>
                    </div>
                    <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/muroT.jpg"
                                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">Realiza cualquier tipo de evento</h3>
                            <div class="mb-2 text-primary small"> <i class="fas fa-users me-2"
                                    aria-controls="#picker-editor"></i><span>Conoce nuestro venue</span> </div>
                            <p class="text-muted">El concepto de Terraza i662 está especialmente diseñado para ajustarse
                                cualquier tipo de evento que necesites.<br><br>Nuestros clientes confían en nosotros
                                para hacernos parte de su vida social. Nuestro venue se presta para realizar eventos
                                personales y familiares, pero también corporativos y formales.</p> <a
                                class="btn  btn-dark" href="#contacto" role="button"
                                aria-controls="#picker-editor">Contacto</a>
                        </div>
                    </div>

                </section>
            </section>
            <!---->
        </div>


    </div> <br>
    <div class="serviciosT" id="servicios">
        <div id="preview" class="preview">
            <div style="display: none;"></div>
            <div>
                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                        <section class="mb-10 overflow-hidden">
                            <!-- Background image -->
                            <div class="px-4 py-5 px-md-5 text-center bg-image"
                                style="background-image: url(assets/images/morado.jpg); height: 500px; background-size: cover; background-position: 50% 50%;"
                                aria-controls="#picker-editor">
                                <div class="mask" style="background-color: rgba(0, 0, 0, 0.37)">
                                    <div class="container h-100">
                                        <div class="row d-flex justify-content-center align-items-center h-100">
                                            <div class="col-lg-10">
                                                <div class="text-white pb-5">
                                                    <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight">
                                                        <span>La renta del espacio</span> <br> <span
                                                            class="">incluye:&nbsp;</span>
                                                    </h1> <a
                                                        class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                                        href="#contacto" role="button"
                                                        aria-controls="#picker-editor">Cotizar</a> <a
                                                        class="btn  btn-link btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 text-white"
                                                        style="background-color: transparent" href="/galeria"
                                                        role="button" aria-controls="#picker-editor">Ver galería</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=""
                                style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
                                <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                                        fill="currentColor"></path>
                                </svg>
                            </div> <!-- Background image -->
                        </section>
                    </section>
                    <!---->
                </div>
            </div>
            <div data-draggable="true" style="position: relative;" class="componentsDiv">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5" data-v-271253ee="">
                    <section class="mb-10 text-center">
                        <style>
                            hr.divider-vertical {
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1px;
                                background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                                background-color: transparent;
                                height: 100%;
                            }
                        </style>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                <i class="fa-solid fa-shield-halved fa-3x mb-4" aria-controls="#picker-editor"></i>
                                <h5 class="text-dark fw-bold mb-3">Seguridad</h5>
                                <h6 class="fw-normal mb-0">Durante el evento</h6>
                                <hr class="divider-vertical d-none d-md-block">
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                <i class="fa-solid fa-headset fa-3x mb-4" aria-controls="#picker-editor"></i>
                                <h5 class="text-dark fw-bold mb-3">Coordinación</h5>
                                <h6 class="fw-normal mb-0">Del evento</h6>
                                <hr class="divider-vertical d-none d-lg-block">
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                <i class="fa-solid fa-people-group fa-3x mb-4" aria-controls="#picker-editor"></i>
                                <h5 class="text-dark fw-bold mb-3">Acceso</h5>
                                <h6 class="fw-normal mb-0">A nuestra lista de proveedores</h6>
                                <hr class="divider-vertical d-none d-md-block">
                            </div>
                            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                <i class="fa-solid fa-car fa-3x mb-4" aria-controls="#picker-editor"></i>
                                <h5 class="text-dark fw-bold mb-3">Valet Parking</h5>
                                <h6 class="fw-normal mb-0">Con costo</h6>
                            </div>
                        </div>
                    </section>
                </section>
                <!---->
            </div>
            <div id="contacto">
                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                        <section class="mb-10 position-relative text-center text-lg-start">
                            <!-- SVG Background --> <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 1440 320" preserveAspectRatio="none"
                                class="svg position-absolute d-none d-lg-block"
                                style="height: 560px; width: 100%; z-index: 0; overflow: hidden">
                                <defs>
                                    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                                        <stop stop-color="hsl(217, 102%, 99%)" offset="0%"></stop>
                                        <stop stop-color="hsl(217,88%, 93%)" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <path fill="url(#sw-gradient-0)"
                                    d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z">
                                </path>
                            </svg> <!-- Content -->
                            <div class="px-4 py-5 px-md-5">
                                <div class="container">
                                    <div class="row gx-lg-5 align-items-center">
                                        <div class="col-lg-6 mb-5 mb-lg-0 py-5" style="z-index: 1">
                                            <h1 class="my-5 display-4 fw-bold ls-tight"> <span>Renta nuestro
                                                    espacio.</span>
                                                <br> <span class="text-primary">La mejor vista de la CDMX.</span>
                                            </h1>
                                            <form action="/ajax/email" method="POST"
                                                onsubmit="return submitEmailForm(this);">
                                                <div class="d-md-flex flex-row">
                                                    <div class="form-outline flex-fill me-1 mb-4 mb-md-0"> <input
                                                            type="text" id="formControlName"
                                                            class="form-control form-control-lg formInput" name="name"
                                                            required> <label class="form-label" for="formControlName"
                                                            style="margin-left: 0px;">Nombre completo</label>
                                                        <div class="form-notch">
                                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                                            <div class="form-notch-middle" style="width: 100px;"></div>
                                                            <div class="form-notch-trailing"></div>
                                                        </div>

                                                    </div> <br>



                                                </div> <br>
                                                <div class="form-outline flex-fill me-1 mb-4 mb-md-0"> <input
                                                        type="text" id="formControlNumber"
                                                        class="form-control form-control-lg formInput" name="number"
                                                        required> <label class="form-label" for="formControlNumber"
                                                        style="margin-left: 0px;">Número de celular</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 100px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>

                                                </div> <br>

                                                <div class="form-outline flex-fill me-1 mb-4 mb-md-0"> <input
                                                        type="email" id="formControlEmail0"
                                                        class="form-control form-control-lg formInput" name="email"
                                                        required> <label class="form-label" for="formControlEmail0"
                                                        style="margin-left: 0px;">Escribe tu correo
                                                        electrónico</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 100px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>

                                                </div> <br>

                                                <!-- Checkbox -->
                                                <div class="form-check d-flex justify-content-center mb-4">
                                                    <input class="form-check-input me-2 formInput" type="checkbox"
                                                        value="" id="form2Example33" required />
                                                    <label class="form-check-label" for="form2Example33">
                                                        Acepto política de privacidad
                                                    </label>
                                                </div>
                                                <!-- Submit button -->
                                                <button type="submit" class="btn  btn-primary btn-lg ms-md-2"
                                                    aria-controls="#picker-editor">Enviar</button>
                                            </form>

                                        </div>
                                        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 1">
                                            <div class="ratio ratio-16x9"> <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/sH4uierF0Lc"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</div>