
.fonts3{
    font-family: 'Montserrat';

}
.footer{
    padding-top: 3%;
    margin-top: -10%;
}
.pointer {
    cursor: pointer;
}
.inicioDivT{
    height: 40rem;
    background-image: url("/assets/images/bannerTerrazaInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;

}
.nosotrosT{
     margin-top: -3%;
}
.bannerConsultingJofer{
    background-image: url("/assets/images/bannerCosulting.jpg");
}

.bannerSpace{
    height: 16rem;
    background-image: url("/assets/images/bannerSpace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
    margin-top: 5%;
}
.privacidadBanner{
    height: 36rem;
    background-image: url("/assets/images/bannerTerrazaInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tablePrivacidad{
    margin-bottom: 15%;
}
.divCatchUp{
    padding-top: 3%;
    margin-top: -3%;
}
.componentsDiv{
    margin-top: -5%;
}


@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
    
}

@media(min-width:992px){
    
}
@media(max-width:991px){
    .componentsDiv{
        margin-top: -31%;
    }
    .divCatchUp{
        display: none;
    }
    .footer{
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #contacto{
        margin-top: -30%;
        margin-bottom: -30%;
    }
    .responsiveMarginCard{
        margin-top: 5%;
    }
    .inicioDivT{
        height: 26rem;
    
    }
   
}